<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- configuring spring beans -->
	<!-- ANNOTATION CONFIGURATION -->

	<!-- Scans the classpath for annotated components that will be auto- registered 
		as Spring beans. By default, the Spring-provided @Component, @Repository, 
		@Service, @Controller, @RestController, @ControllerAdvice, and @Configuration 
		stereotypes will be detected. -->
	<context:component-scan base-package="com.live" />

	<!-- BEANS ARE ALSO CALLED AS COMPONENTS -->
	<!-- <bean id="productRepository" class="com.live.repository.OracleRepository"> 
		</bean> <bean id="oracleProductRepository" class="com.live.repository.OracleRepository"> 
		</bean> <bean id="mySqlProductRepository" class="com.live.repository.MySqlRepository"> 
		</bean> <bean id="productRepository" class="com.live.repository.OracleRepository"> 
		</bean> -->
</beans>
